* {font-family: Comic Sans MS; text-decoration: none;}


a {
    color: green;
}

p img {
    position: relative;
    float: right;
}

a:hover {
    color: blue;
}


@media screen and (max-width: 900px) {
  .nav-link {
    display: none;
  }
}
